PUBLIC_DATA_APT_BASIS_ENDPOINT=https://apis.data.go.kr/1613000/AptBasisInfoServiceV4
PUBLIC_DATA_APT_LIST_ENDPOINT=https://apis.data.go.kr/1613000/AptListService3
PUBLIC_DATA_BUILDING_HUB_ENDPOINT=https://apis.data.go.kr/1613000/BldRgstHubService
PUBLIC_DATA_SERVICE_KEY=replace_with_rotated_server_only_key
PUBLIC_DATA_DAILY_REQUEST_LIMIT=4500
ROUTE_POSTCODE_SOURCE_DATE=
ROUTE_BUILDING_SOURCE_DATE=
ROUTE_KAPT_SOURCE_DATE=
ROUTE_DATA_INPUT_DIR=/data/input
ROUTE_DATA_WORK_DIR=/data/work
ROUTE_DATA_OUTPUT_DIR=/data/output
ROUTE_BOUNDARY_FILE=/data/input/TL_KODIS_BAS.shp
ROUTE_BOUNDARY_CRS=EPSG:5179
ROUTE_ADDRESS_DB_GLOB=/data/input/address/**/*.*
