[Unit]
Description=Check for a new route-difficulty web image

[Timer]
OnBootSec=3m
OnUnitInactiveSec=10m
RandomizedDelaySec=1m
Persistent=true
Unit=route-difficulty-web.service

[Install]
WantedBy=timers.target
